body {
	background-color: #392457;
	
	color:white;
}

li {
	cursor: pointer;
	list-style: none;
}

li:hover {
	background-color:#3ee;
}

li.foo {
	background-color: red;
}

.mycal {

	text-align: center;
	background-color: #333;
}

.titlerow {
	background-color: blue;
}

.current {
	background-color: red;
}

.weekend {
	background-color: #555;
}